{% extends 'main/base.html' %}

{% block title %}
Cтраница про нас
{% endblock %}

{% block content %}
<p><BLOCKQUOTE><font size="12" color= "#9932CC">О  нас:</font></BLOCKQUOTE></p>
    <a class="p-2 text-dark " href="https://instagram.com/3sisters_cakes?igshid=NmZiMzY2Mjc="><font size="5">Инстаграмм</font></a>
    <p style="font-family:'Comic Sans MS', cursive"><font size="5">Центром любого торжества издавна является праздничный торт.</font></p>
    <p style="font-family:'Comic Sans MS', cursive"><font size="5">Кондитерская <font size="5" color= "#9932CC">«3sisters_cakes»</font> предлагает заказать торт Вашей мечты.</font></p>
    <p style="font-family:'Comic Sans MS', cursive"><li><font size="5">Детские</font></li></p>
    <p dir="ltr" style="font-family:'Comic Sans MS', cursive"><li><font size="5">Cвадебные</font></li></p>
    <p dir="ltr" style="font-family:'Comic Sans MS', cursive"><li><font size="5">Kорпоративные</font></li></p>
    <p dir="ltr" style="font-family:'Comic Sans MS', cursive"><li><font size="5">C Вашим логотипом на любые торжества и случаи.</font></li></p>
    <p style="font-family:'Comic Sans MS', cursive"><font size="5">Наши кондитеры-профессионалы изготовят эксклюзивный торт на Ваш вкус и оформят по
        Вашему желанию. Эксклюзивные торты на заказ от кондитерской «3sisters_cakes» – это лучший
        подарок для Ваших родных и близких, для друзей и начальства. Мы гарантируем, что наш торт
        станет неповторимым сюрпризом и подарит радость любимым людям.</font></p>
    <p style="font-family:'Comic Sans MS', cursive"><font size="5">Кондитерская <font size="5" color= "#9932CC">«3sisters_cakes» </font> – мы исполним Вашу сладкую мечту!</font></p>
{% endblock %}
