{% extends 'main/base.html' %}
{% block title %}
Галерея
{% endblock %}

{% block content %}
    <BLOCKQUOTE>
        <a href="/" class="mobile-header__logo">
              <img src="/images/cake1.jpg" width="800" height="800"  alt="">
            </a>

        <a href="/" class="mobile-header__logo">
              <img src="/images/cake2.jpg" width="800" height="800"  alt="">
            </a>

        <a href="/" class="mobile-header__logo">
              <img src="/images/cake3.jpg" width="800" height="800"  alt="">
            </a>

        <a href="/" class="mobile-header__logo">
              <img src="/images/cake4.jpg" width="800" height="800"  alt="">
            </a>

        <a href="/" class="mobile-header__logo">
              <img src="/images/cake5.jpg" width="800" height="800"  alt="">
            </a>

        <a href="/" class="mobile-header__logo">
              <img src="/images/cake6.jpg" width="800" height="800"  alt="">
            </a>

        <a href="/" class="mobile-header__logo">
              <img src="/images/cake7.jpg" width="800" height="800"  alt="">
            </a>

        <a href="/" class="mobile-header__logo">
              <img src="/images/cake8.jpg" width="800" height="800"  alt="">
            </a>

        <a href="/" class="mobile-header__logo">
              <img src="/images/cake9.jpg" width="800" height="800"  alt="">
            </a>

        <a href="/" class="mobile-header__logo">
              <img src="/images/cake10.jpg" width="800" height="800"  alt="">
            </a>

        <a href="/" class="mobile-header__logo">
              <img src="/images/cake11.jpg" width="800" height="800"  alt="">
            </a>

        <a href="/" class="mobile-header__logo">
              <img src="/images/cake12.jpg" width="800" height="800"  alt="">
            </a>

        <a href="/" class="mobile-header__logo">
              <img src="/images/cake13.jpg" width="800" height="800"  alt="">
            </a>

        <a href="/" class="mobile-header__logo">
              <img src="/images/cake14.jpg" width="800" height="800"  alt="">
            </a>

        <a href="/" class="mobile-header__logo">
              <img src="/images/cake16.jpg" width="800" height="800"  alt="">
            </a>

        <a href="/" class="mobile-header__logo">
              <img src="/images/cake17.jpg" width="800" height="800"  alt="">
            </a>
    </BLOCKQUOTE>

{% endblock %}