{% extends 'main/base.html' %}
{% block title %}
Галерея
{% endblock %}

{% block content %}
            <p class="aligncenter">
              <img style="margin-left: 350px" src="/images/cake1.jpg" width="700" height="700"  alt="">
            </p>

            <p class="aligncenter">
              <img style="margin-left: 350px" src="/images/cake2.jpg" width="700" height="700"  alt="">
            </p>

            <p class="aligncenter">
              <img style="margin-left: 350px" src="/images/cake3.jpg" width="700" height="700"  alt="">
            </p>

            <p class="aligncenter">
              <img style="margin-left: 350px" src="/images/cake4.jpg" width="700" height="700"  alt="">
            </p>

            <p class="aligncenter">
              <img style="margin-left: 350px" src="/images/cake5.jpg" width="700" height="700"  alt="">
            </p>

            <p class="aligncenter">
              <img style="margin-left: 350px" src="/images/cake6.jpg" width="700" height="700"  alt="">
            </p>

            <p class="aligncenter">
              <img style="margin-left: 350px" src="/images/cake7.jpg" width="700" height="700"  alt="">
            </p>

            <p class="aligncenter">
              <img style="margin-left: 350px" src="/images/cake8.jpg" width="700" height="700"  alt="">
            </p>

           <p class="aligncenter">
              <img style="margin-left: 350px" src="/images/cake9.jpg" width="700" height="700"  alt="">
           </p>

            <p class="aligncenter">
              <img style="margin-left: 350px" src="/images/cake10.jpg" width="700" height="700"  alt="">
            </p>

            <p class="aligncenter">
              <img style="margin-left: 350px" src="/images/cake11.jpg" width="700" height="700"  alt="">
            </p>

            <p class="aligncenter">
              <img style="margin-left: 350px" src="/images/cake12.jpg" width="700" height="700"  alt="">
            </p>

            <p class="aligncenter">
              <img style="margin-left: 350px" src="/images/cake13.jpg" width="700" height="700"  alt="">
            </p>

            <p class="aligncenter">
              <img style="margin-left: 350px" src="/images/cake14.jpg" width="700" height="700"  alt="">
            </p>

            <p class="aligncenter">
              <img style="margin-left: 350px" src="/images/cake16.jpg" width="700" height="700"  alt="">
            </p>

            <p class="aligncenter">
              <img style="margin-left: 350px" src="/images/cake17.jpg" width="700" height="700"  alt="">
            </p>


                <style>
        .           aligncenter {text-align: center;}
                </style>

{% endblock %}